*
body {
    justify-content: center;
    align-items: center;
    min-width: 600px;
    max-width: 100%;
    margin:  auto;
    margin-left: 100px;
    margin-right: 100px; 
    padding: 20px; 
    background-color:  rgb(6, 18, 109);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    overflow-x: auto; 
    font-weight: bold;
}

.volver{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    display: flex;
    background-color: whitesmoke;
    padding: 3px;
    border-radius:50% ;
    
}

#formulario_datos {
    font-family: "Poppins-light",Arial, Helvetica, sans-serif;
    text-align: left;
    grid-template-columns: repeat(2,1fr);
    }

.list-option{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 10px;
    text-indent: 10px;
}

.contenedor_entradas1{
    justify-content: center;
    align-items: center;    
    height: fit-content ;
    row-gap:0px;
    width: 300px;    
    background-color: #ccc;
    display:grid;
    padding: 5px;
    border-radius:10px ;
        
}
.contenedor_entradas1 a{
    margin-top: 25px;
    margin-bottom: 10px;
}

.titulo{
    width: 250px;
    height: 20px;
    padding: 5px;
    border-radius:5px ; 
}

input{
    height: 20px;
    padding: 5px;
    border-radius:5px ;
}

.estado{
    height: 30px;
    padding: 5px;
    border-radius:5px ;    
}




.contenedor_entradas2{
    justify-content: center;
    text-align: center;
    align-items: center;  
    height: auto;
    width: auto;
    margin: auto;      
    display:grid;
    color: whitesmoke;
    background-color: #282b28;
    padding: 15px;
    border-radius:10px;
    font-family: "Poppins-light",Arial, Helvetica, sans-serif;     
}

.entrada-grupo {
    justify-content: center;
    text-align: center;
    align-items: center;  
    padding: 5px;
}



.entrada-grupo input {
    padding: 5px;
    width: 170px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.entrada-grupo label {
    font-weight: bold;
    margin: 0 20px;
    
}

.total-box {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    border: 2px solid #007bff;
    display: inline-block;
    text-align: center;   
    border-radius: 10px;
}

.btn-accion {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    border-radius: 10px;
}
.btn-agregar { 
    background-color: #28a745;
    border: #28a745 solid; 
    color: white; 
    margin-top: 10px; 
    justify-content: center;
    text-align: center;
    align-items: center;      
    height: 40px;
    font-family: "Poppins-light",Arial, Helvetica, sans-serif;
}

.btn-eliminar { background-color: #dc3545; color: white; }


@media (max-width: 1200px) {
   
    .list-option {
        flex-direction: column;         
        align-items: center; 
    }
    
    .contenedor_entradas1, .contenedor_entradas2 {
        margin-bottom: 20px; 
    }
}





@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}



