    body {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        background-color: #DDDDDD;
        margin: 0;
        padding: 0;
        overflow: hidden;
        opacity: 1;
        transition: opacity 0.5s ease;
        user-select: none;

    }

    .form-container {
        width: 70%;
        margin: 30px auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px 30px;
        box-sizing: border-box;
        height: fit-content;
    }
    .form-container form section{
        overflow-y:scroll;
        height: 420px;
        padding-right: 4px;
        
    
    .form-container form{
        max-height: 500px;
        overflow: hidden;}

    }
    .form-all-cont{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        height: 100dvh;
    }

    .exit{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    padding: 5px;
    border-radius:50% ;
}


    .form-container h2 {
        text-align: center;
        color: #100aa8;
        margin-bottom: 20px;
    }
    .cont-header{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        height: 100dvh;
        min-height: fit-content;
        background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../imgs/bandera.webp') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        border-radius: 0 20% 20% 0;

    }

    .cont-header header h2{
        color: #DDDDDD;
        font-size: 35px;
    }
    .cont-header article p{
        color: #DDDDDD;
        font-size: 18px;
        text-indent: 15px;
        text-align: justify;
    }
    .cont-header article{
        margin-top: 20px;
        font-family: 'Poppins-light', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        padding: 20px;
        line-height: 28px;
        height:400px;
        row-gap:15px ;
        display: flex;
        flex-direction: column;
    }


    .entry:focus {
        outline: none;
    }



    .submit-btn {
        margin-top: 25px;
        width: 100%;
        padding: 12px;
        background-color: #100aa8;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .submit-btn:hover {
        background-color: rgba(228, 228, 56, 0.942);
        color: #100aa8;
        
    }

    .entry,.entry_pass{
    position: absolute;
    width: 90%;
    line-height: 28px;
    outline: none;
    border-radius: 10px;
    border: solid #DDDDDD;
    background-color: #DDDDDD;
    text-indent: 35px;
    transition: al ease .2s;
    left: 23px;
    text-transform: capitalize;
    /* box-shadow: 0 0 6px darkslategray; */
}
.entry:focus::placeholder,.entry_pass:focus::placeholder{
    opacity: 0;
}
.entry::placeholder,.entry_pass::placeholder{
    font-weight: bold;
}
.labelline{
    position: absolute;
    z-index: 1111;
    font-size: 13;
    font-weight: bold;
    padding: 0.5;
    margin: 0 23px;
}
select{
    margin-top: 12px;
    width: 92%;
    margin-bottom: 15px;
    transform: translateX(23px);
    height: 30px;
    border-radius: 6px;
    background-color: #DDDDDD;
    font-weight: 600;
    color: rgba(63, 63, 63, 0.7);
    border: #DDDDDD solid 1px;

}
option{
    font-weight: bold;
    
}

.icon_lock,.icon_user,.icon_email,.icon_id{
    margin-top: 6px;

}
.input_area,.input_password{
    position: relative;
    height:50px;
    line-height: 50px;
    margin: 20px 0 0px 0;
    padding: 8px;
    text-transform: capitalize;
}
/* hasta aca el registro civil */

/* main view choice */
.lottie-ani, .lottie-read{
    width: 300px;
    height: 250px;
    margin-left:100px; 
}
.lottie-ani img{
    animation: render-img 3s infinite;
}
.lottie-read img{
    height: 200px;
    width: 220px;
    animation: render-img 3s infinite;
}
a{
    width: fit-content;
    text-decoration: none;
}
.main-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    height: 100dvh;
    gap: 50px;
    background-color: #100aa8;
    padding: 20px;

}
.registered-box, .read-box{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 15px;
}
.registered-box h1, .read-box h1{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #100aa8;
    margin-bottom: 15px;

}
.registered-box p, .read-box p{
    font-family: 'Poppins-light', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
    line-height: 28px;
}
.registered-box:hover, .read-box:hover{
    box-shadow: 0 0 15px rgb(255, 255, 255);
    transform: scale(1.05)
    perspective(400px)
    rotateY(10deg)
    
}
/* hasta aca */
.redirect-box-register, .redirect-box-read{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-home-register{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    padding: 5px;
    border-radius:50% ;
}
body.fade-out {
    opacity: 0;
}

/* caja de mensaje succesfull */
#message{
    background-color: rgb(7, 117, 7);
    color: whitesmoke;
    display: flex;
    padding:10px 5px 10px 0;
    width: 650px;
    min-width: fit-content;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    height: fit-content;
    animation: up 1.5s linear;
}

#message p{
    font-family: 'Poppins-light',Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
#messageErrores{
    background-color: rgb(117, 7, 7);
    color: whitesmoke;
    display: flex;
    padding:10px 5px 10px 0;
    width: 650px;
    min-width: fit-content;
    box-shadow: 0 0 8px whitesmoke;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    height: fit-content;
    animation: up 1.5s linear;
}

#messageErrores p{
    font-family: 'Poppins-light',Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}



/* importando fuente */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}

/* animaciones */
@keyframes up {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
        
    }
}
@keyframes render-img {
    from{
        transform: rotateY(0);
        
    }
    to{
        transform: rotateY(360deg);
        
    }
}