* 
body {
    max-width: 100%;
    margin:0;  
    background-color:rgb(6, 18, 109);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    overflow-y: auto; 
    font-weight: bold;
    overflow-x: hidden;
}

.titulo{
    background-color: rgb(22, 20, 20);
    color: whitesmoke;
    width: 1360px;
    margin: 0; 
    
}

div {
    max-width: 100%;
    min-width: 600px;
    margin: 40px auto;
}

.img_proyecto{
    width: 90px;
    height: 80px;
    border-radius: 30px 0 30px 0;
}

.contenedor-flex {
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 100%;
    align-items: center; 
    column-gap: 30px; 
}

.texto_titulo {
    flex-grow: 1; 
    margin: 0;
    font-size: 15; 
}
.link{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

table {
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 15px;
    background-color: #DDDDDD;
    color: rgb(19, 18, 18);
    text-align: left;
    width: 90%; 
    table-layout: fixed; 
    margin: 20px 25px;
    text-align: left;
    border-radius: 10px;
    
}
.list-option{
    display:grid;
    justify-content: space-around;
    margin: 0;
}

.volver{
    width: 30px;
    display: flex;
    background-color: whitesmoke;
    padding: 3px;
    border-radius:50% ;
    box-shadow: 0 0 8px darkslategray;
    
}

.columna_name {
    min-width: 85%; 
    white-space: nowrap;
    overflow: hidden;
    color: rgb(22, 21, 21);
    text-overflow: ellipsis;
    font-family: "Poppins-light",Arial, Helvetica, sans-serif;
}

.columna_boton {
    min-width: 10%;
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center; 
    gap: 2px; 
    padding: 8px;  
}

.btn-accion {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap; 
    font-family: "Poppins-light",Arial, Helvetica, sans-serif;
}

div {
    text-align: left;
    margin: 20px 25px;
}


.btn_create { 
    background-color: #007bff; color: white; border-color: #007bff; 
    font-family: "Poppins-light",Arial, Helvetica, sans-serif
}
.btn_recargar{  background-color: #007bff; color: white; border-color: #007bff; font-family: "Poppins-light",Arial, Helvetica, sans-serif }


.btn-ver { background-color: #007bff; color: white; border-color: #007bff;font-family: "Poppins-light",Arial, Helvetica, sans-serif;padding: 10px; }
.btn-editar { background-color: #ffc107; color: black; border-color: #ffc107; font-family: "Poppins-light",Arial, Helvetica, sans-serif;padding: 10px }
.btn-eliminar { font:16px ; background-color: #dc3545; color: white; border-color: #dc3545;font-family: "Poppins-light",Arial, Helvetica, sans-serif;padding: 10px }


#Ejecutado, #Error {
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
    max-width: 90%;
    border-radius: 5px;
}
#Ejecutado {color: green; border: 1px solid green; background-color: #e6ffe6;}
#Error {color: red; border: 1px solid red; background-color: #ffe6e6;}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-light';
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}
