*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgba(2, 20, 155);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.exit{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    padding: 5px;
    border-radius:50% ;
}
/* preguntas de seguridad */
#small-error{
        color: red;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        padding: 5px;
        font-size: 12px;
        margin: 0 20px;
    }

.question-box,.question-box-id{
    width: 100%;
    height:100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.question-box form{
    width: 450px;
    min-height: fit-content;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* row-gap:3px; */
    position: absolute;
    padding: 20px 10px;
    row-gap: 15px;
}
.ced-form{
    width: 450px;
    height:320px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* row-gap:3px; */
    position: absolute;
    padding: 0 10px;
    min-height: fit-content;

}
.ced-form p{
    text-indent: 30px;
    color:rgba(11, 18, 147, 0.874) ;
}

.entry,.entry_pass{
    position: absolute;
    width: 90%;
    line-height: 28px;
    outline: none;
    border-radius: 10px;
    border: solid #DDDDDD;
    background-color: #DDDDDD;
    text-indent: 35px;
    transition: al ease .2s;
    left: 23px;
    /* box-shadow: 0 0 6px darkslategray; */
}
.entry:focus::placeholder,.entry_pass:focus::placeholder{
    opacity: 0;
}
.entry::placeholder,.entry_pass::placeholder{
    font-weight: bold;
}
.labelline{
    position: absolute;
    z-index: 1111;
    font-size: 13;
    font-weight: bold;
    padding: 0.5;
    margin: 0 23px;
}

.icon_lock,.icon_user,.icon_email,.icon_id{
    margin-top: 6px;

}
.input_area,.input_password{
    position: relative;
    height:50px;
    line-height: 50px;
    margin: 20px 0 0px 0;
    padding: 8px;
}
.question-box form select{
    margin-top: 10px;
    width: 90%;
    transform: translateX(23px);
    height: 30px;
    border-radius: 6px;
    background-color: #DDDDDD;
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.btn-secure{
    height: 35px;
    width: 90%;
    text-transform: uppercase;
    transform: translateX(23px);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin-top:20px;
    border-radius: 7px;
    border: 1px solid  rgba(8, 24, 146, 0.807);
    background-color:  rgba(8, 24, 146, 0.807);
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}
.btn-secure:hover{
    background-color: rgb(5, 28, 201);
    border: 1px solid  rgb(3, 24, 187);
    transition: all ease .5s;
}

.header-box{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(16, 11, 125, 0.874);
}

/* cambio de contrasena */

.form-change{
    font-size: 14px;
    text-align: center;
    width: 370px;
    height: 390px;
    row-gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    height: fit-content;
    padding: 20px 10px;
}
.form-change h1{
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(191, 9, 9, 0.874);
    margin-top: 30px;
}

.main-box-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    column-gap: 10px;
}
.icon_lock_new,.icon_lock_rep{
    width: 25px;
}

.send-new{
    height: 35px;
    width: 90%;
    text-transform: uppercase;
    transform: translateX(23px);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin-top:10px;
    border-radius: 7px;
    border: 1px solid  rgba(8, 24, 146, 0.807);
    background-color:  rgba(8, 24, 146, 0.807);
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

/* recover password */
.text{
    font-family: "Poppins-light",Arial, Helvetica, sans-serif;
    text-indent: 20px;
    font-size: 16px;
    color: rgba(29, 29, 35, 0.874);
    margin-block: 0;
}
#messageErrores{
    background-color: rgb(117, 7, 7);
    color: whitesmoke;
    display: flex;
    padding:10px 5px 10px 0;
    width: fit-content;
    margin-bottom: 20px;
    min-width: fit-content;
    box-shadow: 0 0 8px whitesmoke;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    height: fit-content;
    animation: up 1.5s linear;
}

#messageErrores p{
    font-family: 'Poppins-light',Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-recover{
    height: 35px;
    width: 90%;
    text-transform: uppercase;
    transform: translateX(23px);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin-top:50px;
    border-radius: 7px;
    border: 1px solid  rgba(8, 24, 146, 0.807);
    background-color:  rgba(8, 24, 146, 0.807);
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;

}
.recover-form{
    width: 450px;
    height: 460px;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap:8px;
    position: absolute;
    padding: 0 10px;

    
}


/* responsive design */
@media( width < 450px) and (height > 600px){

    body{
        padding: 20px;
    }
    .question-box form{
        width: 100%;
        height: 480px;
    }

    .header-box{
        font-size: 14px;
    }

    .btn-secure{
        margin-top: 60px;
        transform: translateX(18px);
    }
    .entry,.entry_pass{
        left: 18px;
}

.question-box form select{
    transform: translateX(18px);
}



}





@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}

