*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100dvh;

}

/* registro y login estilos */
.container{
    max-width: 100%;
    height: 100dvh;
    background-color: rgb(2, 20, 155);
    display: flex;
    animation: aparicion 2s ease-in-out;

}

.back{
    background-color: rgba(236, 236, 13, 0.988);
    width: 700px;
    border-radius: 0% 26% 26%  0%;
    height: 100dvh;
    transform: translateX(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.unidos_logo{
    width: 250px;
    height: 200px;
    border-radius:0% 20% 20% 0%;
    animation: girar 2s infinite;
}

.informacion{
    width: 1000px;
    background-color: rgba(8, 24, 146, 0.807);
    display:flex;
    justify-content: center;
    align-items: center;
}

.informacion form{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* justify-content: center; */
    background-color: whitesmoke;
    gap: 20px;
    border-radius: 20px;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 5px;
    padding: 15px;
    transform: translateY(-35px);
}
.entry,.entry_pass{
    position: absolute;
    width: 90%;
    line-height: 28px;
    outline: none;
    border-radius: 10px;
    border: solid #DDDDDD;
    background-color: #DDDDDD;
    text-indent: 35px;
    transition: al ease .2s;
    left: 23px;
    /* box-shadow: 0 0 6px darkslategray; */
}
.input_form{
    position: relative;
    height:30px;
    line-height: 28px;
    margin: 5px 0 10px 0;
    padding: 4px;
}
.labelline,.labelline_pass{
    position: absolute;
    z-index: 1111;
    font-size: 13;
    font-weight: bold;
    padding: 0.5;
    margin: 0 23px;
}
.icon_lock{
    width: 25px;
    height: 25px;
}
.icon_lock,.icon_user,.icon_email,.icon_id{
    margin-top: 6px;
}

.hd-box-title{
    width: 100% ;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color: rgba(191, 9, 9, 0.874);
}

.inputs select{
    margin-top: 10px;
    width: 90%;
    transform: translateX(23px);
    height: 30px;
    border-radius: 6px;
    background-color: #DDDDDD;
    font-weight: 600;
    color: rgb(63, 63, 63);
}
.entry:focus::placeholder,.entry_pass:focus::placeholder{
    opacity: 0;
}
.entry::placeholder,.entry_pass::placeholder{
    font-weight: bold;
}
.inputs button{
    height: 35px;
    width: 90%;
    transform: translateX(23px);
    margin-top: 15px;
    border-radius: 7px;
    border: 1px solid  rgba(8, 24, 146, 0.807);
    background-color:  rgba(8, 24, 146, 0.807);
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;
}
/* hasta aca */

/* aca empiezo con lo demas del login */
.box-main{
    display: flex;
    background-color: rgba(2, 20, 155);
}
.first-box{
    width: 700px;
    height: 100dvh;
    background-color:rgba(8, 24, 146, 0.807);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.first-box form{
    width: 400px;
    height: 420px;
    background-color:whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 10px whitesmoke;
    gap: 10px;
}
.first-box form header{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: rgba(199, 16, 16, 0.895);
}
article a{
    width: fit-content;
    height: fit-content;
    
    font-size: 12px;
    color: rgba(47, 79, 79, 0.697);
    text-decoration: none;
    transition: .3s;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin-right: 28px;
}
article{
    text-align: right;

}
.two-box{
    width: 800px;
    height: 100dvh;
    background:url(../imgs/fondo-login.png);
    border-radius: 40% 0 0 0;
}

.input_area,.input_password{
    position: relative;
    height:50px;
    line-height: 50px;
    margin: 20px 0 0px 0;
    padding: 8px;
}

.ingresar{
    height: 35px;
    width: 90%;
    transform: translateX(23px);
    margin-top:80px;
    border-radius: 7px;
    border: 1px solid  rgba(8, 24, 146, 0.807);
    background-color:  rgba(8, 24, 146, 0.807);
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;

}

/* hasta aca */

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
}

@keyframes aparicion{
    from{
            transform: translateY(-100%);
            opacity: 0;
    }
    to{
            transform: translateY(0%);
            opacity: 1;
    
    }
}