*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100dvh;

}

.container{
    max-width: 100%;
    height: 100dvh;
    background-color: rgb(12, 128, 128);
    display: flex;

}

.back{
    background-color: black;
    width: 500px;
}

.informacion{
    width: 800px;
    background-color: burlywood;
    display:flex;
    justify-content: center;
    align-items: center;
}

.informacion form{
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
    gap: 20px;
}